* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.RPS {
    display: block;
    margin: auto;
    font-size: 20px;
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 2px solid #f0f0f0;
}

.RPS:hover, .RPS:active {
    border: 2px solid black;
    background-color: lightgray;
}

.RPS:active {
    position: relative;
    top: 2px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 0px 2px 5px gray;
    background-color: lightsalmon;
    border-radius: 0px 0px 5px 5px;
}

#score-div {
    margin: 20px;
}

ul {
    list-style: none;
    text-align: center;
}