* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    margin: auto;
    font-size: 20px;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.RPS {
    background-color: #f0f0f0;
    border: 2px solid #f0f0f0;
}

.RPS:hover, .RPS:active {
    border: 2px solid black;
    background-color: lightgray;
}

.RPS:active, #reset-button:active {
    position: relative;
    top: 2px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 0px 2px 5px gray;
    background-color: lightsalmon;
    border-radius: 0px 0px 5px 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    box-sizing : border-box;
}

#score-div {
    margin: 150px 0px 0px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    border: 1px dotted gray;
    border-radius: 5px;
    width: 30%;
    margin: 10px auto;
}

li {
    cursor: default;
}

#reset-button {
    width: 200px;
    font-size: 25px;
    background-color: lightsalmon;
    color: black;
    border: 2px solid lightsalmon;
    margin-bottom: 25px;
}

#reset-button:hover, #reset-button:active {
    border: 2px solid black;
    background-color: salmon;
}

.result-li {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

.game-winner-li, .round-li {
    font-weight: bold;
}

.winner-ul {
    font-size: 20px;
    width: 50%;
    border: 2px solid black;
    background-color: lightcyan;
    margin-bottom: 25px;
}